* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;

  z-index: 1001;
}

#canvas-texture {
  position: fixed;
  top: 50%;
  left: 50%;
  outline: none;

  background-color: white;

  z-index: 1000;

  width: 33.5vw;
  height: 50vh;

  transform: translate(-50%, -50%);

  /* opacity: 0.1; */
}
